XMLTasks.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="TaskList">
	<xs:complexType>
		<xs:sequence>

			<xs:element name="Task" maxOccurs="unbounded" minOccurs="0">
				<xs:complexType>
					<xs:sequence>

						<xs:element name="account" type="xs:string"/>
						<xs:element name="solution" type="xs:string"/>
						<xs:element name="time" type="xs:string"/>

					</xs:sequence>
					<xs:attribute name="id" type="xs:string" use="required"/>
				</xs:complexType>
			</xs:element>

		</xs:sequence>
	</xs:complexType>
</xs:element>

</xs:schema>
